body {
    margin: 0;
}

.Login-principal{
    width: 100vw;
    height: 100vh;
    padding: 70px;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.esquerda-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}


.direita-login{
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: flex-end;

}


.cartao-login{
    width: 60%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 45px ;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px  10px  40px  #00000056;
}

.cartao-login > h1 {
    color: #00ff88;
    font-weight: 800;
    margin: 0;
}

.campo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.campo > input {
    width: 100%; 
    border: none;
    border-radius: 10px;
    padding: 15px;
    background:#514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px  10px  40px  #00000056;
    outline: none;
    box-sizing: border-box;
} 


.campo > label {
    color:#f0ffffde;
    margin-bottom: 10px;
}


.campo > input::placeholder {
    color: #f0ffff94;
}

.btn-login{
    padding: 16px 80px;
    margin: 25px;
    border: none;
    border-radius: 8px; 
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b; 
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px  #00ff8052;
}

.btn-Limpar{
    padding: 16px 80px;
    margin: 25px;
    border: none;
    border-radius: 8px; 
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b; 
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px  #00ff8052; 
}

.imagem{
    width: 25vw;
    padding: 100px;
}

fieldset{
    color: #f0ffffde;
    padding: 16px 50px;
    border: none;
    font-size: 12pt;
    display: flex;
    justify-content: center;
    align-items: center;                    
}

